{{extend 'layout.html'}}
<script type="text/javascript">
$(function(){
	$('#scanlink').click(
			function(){
					$('#scanning').remove()
					$('#scanner').html('<div id=\'scanning\'>{{=T('Scanning... it could take a while.')}}</div>')
					$('#scanning').hide().fadeIn('slow');
					setInterval(function(){
					    ajax('{{=URL("ac","progress")}}',[],'scanning')
                    },1000);
				}
		);
	$('#scanlink').click(
            function(){
                ajax('{{=URL("default","scanning")}}',[],':eval');
            }
        )
});

</script>


<center><h2>{{=T('Scanning')}}</h2></center>


{{if msg:}}
<div id="scanner">{{=msg}}</div>
{{pass}}
{{if session.scan:}}
	{{include "default/scanpage.html"}}
{{pass}}

<div style='border:1px solid'><center><h3>{{=T('Scanner preferences')}}</h3></center>
{{if form:
  =form
  pass}}
</div>