{{extend 'layout.html'}}
<script type="text/javascript">
jQuery(function(){
	jQuery('#documents_tag').autocomplete({source:"{{=URL(r=request,c='ac',f='tags')}}"});
	jQuery('#documents_title').autocomplete({source:"{{=URL(r=request,c='ac',f='title')}}"});
	jQuery('.datatable').dataTable(
			{
				"oLanguage": { 
					"sProcessing":   "Feldolgozás...",
					"sLengthMenu":   "_MENU_ találat oldalanként",
					"sZeroRecords":  "Nincs a keresésnek megfelelő találat",
					"sInfo":         "Találatok: _START_ - _END_ Összesen: _TOTAL_",
					"sInfoEmpty":    "Nulla találat",
					"sInfoFiltered": "(_MAX_ összes rekord közül szűrve)",
					"sInfoPostFix":  "",
					"sSearch":       "Keresés:",
					"sUrl":          "",
					"oPaginate": {
						"sFirst":    "Első",
						"sPrevious": "Előző",
						"sNext":     "Következő",
						"sLast":     "Utolsó"
					}
				}
			}
			);

	jQuery('#no_table_template').change(
			function(){
					if (this.value != '') {
						jQuery.get('{{=URL(r=request,c='ac',f='templates.json')}}/'+this.value,
								function(data) {
									if (jQuery('#documents_title').val()=='') {
										jQuery('#documents_title').val(data['title']);
									}	
									if (jQuery('#documents_tag').val()=='') {
										jQuery('#documents_tag').val(data['tag']);
									}	
									if (jQuery('#documents_body').val()=='') {
										jQuery('#documents_body').val(data['body']);
									}	
									if (jQuery('#documents_comments').val()=='') {
										jQuery('#documents_comments').val(data['comments']);
									}	
									if (jQuery('#documents_expire_on').val()=='') {
										jQuery('#documents_expire_on').val(data['expire_on']);
									}	
							}
						)
					}
				}
			)
})
</script>
<div class='span11 center'>
<center><h2>{{=T('Storing file')}}</h2></center>
</div>
{{if document_type:}}
<div class='span11 center'>
    {{if document_type=='viewer.js':}}
        <iframe id="viewer" src ="{{=document_url}}" width='95%' height='800px' allowfullscreen webkitallowfullscreen></iframe>
    {{elif document_type=='image':}}
    <image width='90%' src="{{=document_url}}"></image>
    {{pass}}
</div> 
{{pass}}
<div class='span11 center alert alert-success'>
{{if request.args(0):
=A(T('New action'),_href=URL(r=request,f='action',args=request.args),_class='btn')
pass}}

{{if actionlist:}}
<table class="datatable" style="width:100%">	<thead>		<tr>			<th>{{=db.action.name.label}}</th>
			<th>{{=db.action.atype.label}}</th>
			<th>{{=db.action.email.label}}</th>
			<th>{{=db.action.adate.label}}</th>		</tr>	</thead>
	<tbody>
		{{for act in actionlist:}}		<tr>			<td>{{=A(act.action.name,_href=URL(r=request,f='action',args=[request.args(0),act.action.id]))}}</td>
			<td>{{=act.action.atype}}</td>
			<td>{{=act.action.email}}</td>
			<td>{{=act.action.adate if act.action.adate else act.documents.expire_on}}</td>		</tr>
		{{pass}}	</tbody></table>
{{pass}}
</div>
<div class='span11 center alert alert-success'>
{{if session.scan and request.vars.source=='scanner':}}
<div class='span10'>
  {{include "default/scanpage.html"}}
</div>
{{else:}}
  <div class='span5 center'>
     {{=A(T('Scan pages'),_href=URL(r=request,f='scanner'),_class='btn')}}
  </div>
{{pass}}

{{if request.args(0):}}
	<div class='span5 center'>
{{if request.vars.source!='scanner':
		=A(T('Update file from scanned pages'),_href=URL(r=request,f='store',args=request.args,vars=dict(source='scanner')),_class='btn')
	else:
		=A(T('Upload new file'),_href=URL(r=request,f='store',args=request.args,vars=dict(source='upload')),_class='btn')
	pass}}
	</div>
{{pass}}
</div>
{{if templateform:}}
<div class='span11 alert alert-warning'>
<table>
	<tr>
		{{=templateform.custom.begin}}
		<td>{{=T( 'Document template' )}}: </td>
		<td>{{=templateform.custom.widget.template}}</td>
		{{=templateform.custom.end}}
	</tr>
</table>
</div>
{{pass}}
{{if form:}}
<div class='span11 alert alert-info'>
{{=form}}
</div>
{{pass}}
